* {
	text-align: center;
	font-family: helvetica;
}
/*Title of Page*/
#topline {
	color: white;
	font-size: 70px;
	font-weight: bold;
	background-image: url("file:/Users/Katie/Desktop/Personal_katie/Atom App/Projects/Broadway/Resources/background.png");
	background-size: cover;
}
/*Title Navigation*/
#topline .home{
	font-size: 18px;
}
.home a{
	color: white;
}
/*Process Section*/
#process .ourprocess{
	color: dimgray;
	font-size: 32px;
	font-weight: bold;
}
/*Process Section>Titles*/
h4{
	color: dimgray;
	font-size: 23px;
	font-weight: bold;
}
/*About Section*/
.about{
	color: white;
	font-size: 23px;
	font-weight: bold;
	background-image: url("file:/Users/Katie/Desktop/Personal_katie/Atom App/Projects/Broadway/Resources/background.png");
	background-size: cover;
}
/*Process & About Section/Details*/
h5{
	color: dimgray;
	font-size: 14px
}
/*Copyright*/
#bottomline p{
	font-size: 11px;
	color: white;
	background-color: dimgray;
}
/*Bottom Navigation*/
#bottomline p a{
	color: white;
	font-size: 20px;
}